.ask-question {
  h4 {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    max-width: 520px;
    font-weight: 400;
  }

  .font-fix {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }

  .social-list {
    max-width: 160px;
  }
}
