.ask-question {
  max-width: 520px;
}

.ask-question__title {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
  max-width: 520px;
  font-weight: 400;
}

.ask-question__telephone {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
