.button-custom a {
  background-color: #614199;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding: 20px 50px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  border: 3px solid #614199;
  border-radius: 5px;

  &:hover,
  &:focus {
    background: #8D63D7;
    border-color: #8D63D7;
    color: #ffffff;
  }
  &:active {
    background: #A980F0;
    border-color: #A980F0;
    color: #ffffff;
  }
}

.button-custom--light {
  background-color: #80C41C;
  border-color: #80C41C;
  color: #000000;
  &:hover,
  &:focus {
    background: #237D26;
    border-color: #237D26;
    color: #ffffff;
  }
  &:active {
    background: #31B636;
    border-color: #31B636;
    color: #ffffff;
  }
}
