.customer-review {
  max-width: 675px;
  max-width: 575px;
  margin: 0;
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto;

  @media (max-width: 550px) {
    grid-template-columns: auto;
    gap: 5px;
  }
}

.customer-review__left {
  max-width: 150px;
  position: relative;
  height: max-content;
  order: 100;

  @media (max-width: 550px) {
    max-width: max-content;
    margin: 0 auto;
  }
}

.customer-review__photo {
  display: block;
  object-fit: cover;
  width: 100%;

  @media (max-width: 550px) {
    max-width: 100px;
    border-radius: 50%;
  }
}

.customer-review__date {
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #ffffff;
  display: block;
  padding: 5px 10px;
  background-color: #d9723f;
  position: absolute;
  bottom: -12px;
  right: -22px;

  @media (max-width: 550px) {
    font-size: 12px;
    letter-spacing: initial;
    font-weight: 400;
    padding: 5px;
  }
}

.customer-review__right {
  // max-width: 425px;
  flex-grow: 1;

  @media (max-width: 550px) {
    display: flex;
    flex-direction: column-reverse;
    max-width: max-content;
    margin: 0 auto;
  }
}
.customer-review__autor {
  font-style: normal;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: 550px) {
    margin: 0 auto;
  }
}
.customer-review__text {
  font-size: 14px;
  line-height: 160%;
  color: #000000;

  p {
    margin: 0;
    margin-bottom: 5px;
  }
}
