.director-signature {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.director-signature__wrapper {
  max-width: 400px;
}
.director-signature__name {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  max-width: 400px;
}

.director-signature__status {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 700;
  margin: 0;
}

.director-signature__image {
  max-width: 224px;
}
