/* блок директора с резюме */
.director-card {
  position: relative;
}

.director-card__photo {
  max-width: 100%;
  position: relative;
  // top: 52px;
  // left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 45px;
}

.director-card__bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.director-card__name {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
}

.director-card__text {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 700;
  margin: 0;
}

.director-card__signature {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
