/* блок ПОДЗАГОЛОВОК */
.lead {
  font-size: 18px;
  line-height: 150%;
  color: inherit;

  @media (max-width: 500px) {
    max-width: 100% !important;
  }

  p {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 1200px) {
      list-style: initial;
      padding: revert;
      padding-left: 15px;
      margin: revert;

      li {
        padding-left: 10px;
        margin-bottom: 10px;
        line-height: 120%;
      }

      li::marker {
        content: "\2714";
        color: #614199;
      }
    }
  }
}

.lead__big-text {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  padding: 0;
  margin: 0;
}
