/* Остаток бесплатных консультаций */
.remaining-seats {
  padding: 25px 50px 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 207px;
  position: relative;
  margin-left: 15px;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/special/decorative-frame.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  span {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 2px;
    display: block;
    font-weight: 700;
  }
  del {
    margin-right: 10px;
    opacity: 0.8;
    font-weight: 400;
  }
}
