/* Блок СПИСОК УСЛУГ */
.service-list {
  display: grid;
  gap: 60px 45px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.service-list__card {
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 72px;
    position: relative;

    @media (max-width: 750px) {
      text-decoration: underline;
      color: #d9723f;
      min-height: auto;
      margin-bottom: 10px;
    }

    h3 {
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: 1px;
      color: inherit;
      margin: 0;
      max-width: 210px;

      @media (max-width: 1430px) {
        font-size: 26px;
      }

      @media (max-width: 750px) {
        font-size: 22px;
        max-width: 100% !important;
        font-weight: 700;
      }
    }

    svg {
      position: absolute;
      top: 15px;
      right: 0;
      // transform: rotateY(180deg);
      @media (max-width: 750px) {
        display: none;
      }

      path {
        fill: #d9723f;
      }
    }

    &:hover,
    &:focus {
      color: #ffa173;

      svg {
        path {
          fill: #ffa173;
        }
      }
    }

    &:active {
      color: #ffc1a3;

      svg {
        path {
          fill: #ffc1a3;
        }
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    max-height: 194px;

    @media (max-width: 750px) {
      order: -1;
      max-height: 200px;
      margin-bottom: 15px;
    }
  }
}

.service-list__text {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;

  ul {
    margin: 0;
    padding-inline-start: 15px;

    li {
      margin-bottom: 5px;
    }
  }

  p {
    margin-top: 0;
  }
}

.service-list__card--big {
  grid-column: span 2;

  @media (max-width: 1200px) {
    order: -1;
  }

  @media (max-width: 500px) {
    grid-column: initial;
  }

  .service-list__link h3 {
    max-width: 370px;
  }
}
