/* Список социальных сетей или мессенджеров */
.social-list {
  display: grid;
  gap: 15px;
  grid-template-columns: 42px 42px 42px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;

  a {
    display: block;
  }

  svg {
    width: 42px;
    height: 42px;
    display: block;
  }
}
