/* Блок ЗАГОЛОВОК  */
.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  color: #000000;
  font-family: "Alegreya Sans", sans-serif;
  margin: 0;
  margin-bottom: 45px;
  @media (max-width: 1200px) {
    font-size: 40px;
    letter-spacing: initial;
  }
  @media (max-width: 600px) {
    font-size: 36px;
  }

  .decorate {
    color: #fd0e11;
    position: relative;
    &::before {
      content: url("../img/icons/apple-head.svg");
      position: absolute;
      top: -60%;
    }
  }
}

.title--big {
  font-size: 85px;
  color: #ffffff;
  span {
    color: #000000;
    text-shadow: 1px 0 1px #ffffff, 0 1px 1px #ffffff, -1px 0 1px #ffffff, 0 -1px 1px #ffffff;
  }
}
