/* Блок ЗАГОЛОВОК  */
.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 120%;
  color: #000000;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 45px;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 35px;
    letter-spacing: initial;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }

  @media (max-width: 500px) {
    max-width: 100% !important;
  }

  &--big {
    font-size: 80px;
    color: #ffffff;
    text-transform: initial;
    line-height: 100%;
    margin-bottom: 30px;

    @media (max-width: 1366px) {
      font-size: 70px;
    }

    @media (max-width: 900px) {
      font-size: 65px;
    }

    @media (max-width: 500px) {
      font-size: 45px;
    }

    @media (max-width: 500px) {
      font-size: 40px;
    }
  }

  &--small {
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: initial;
    max-width: 670px;
    margin: 0;

    @media (max-width: 900px) {
      font-size: 34px;
      line-height: 120%;
    }

    @media (max-width: 500px) {
      font-size: 22px;
    }
  }
}

.title__inversion {
  color: #ffffff;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 0 -1px 1px #000000;
}

.title--big .title__inversion,
.title--small .title__inversion {
  color: #000000;
  text-shadow: 1px 0 1px #ffffff, 0 1px 1px #ffffff, -1px 0 1px #ffffff, 0 -1px 1px #ffffff;
}
