/* блок ШАПКА СЕКЦИИ */
.section-header {
  display: grid;
  gap: 160px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: 1400px) {
    gap: 40px;
  }

  @media (max-width: 1200px) {
    gap: 20px;
  }

  @media (max-width: 1366px) {
    // margin-bottom: 40px;
  }

  @media (max-width: 500px) {
    margin-bottom: 25px;
  }

  &--two {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    .section-header__title {
      padding-right: 90px;

      @media (max-width: 1400px) {
        padding-right: 0;
      }

      @media (max-width: 1200px) {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
      }
    }
  }
}

.section-header__lead {
  max-width: 600px;

  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.section-header__title {
  @media (max-width: 1100px) {
    // margin-bottom: 20px;
  }

  .title {
    margin: 0;
  }
}
