// Первый экран главной
.first-screen {
  background: linear-gradient(90deg, #0f1012 26.09%, #31323e 61.51%);
  mix-blend-mode: normal;
  overflow: hidden;
  color: #ffffff;

  .wrapper {
    position: relative;
  }

  .section-header {
    margin-bottom: 0;
    gap: 50px;
  }

  .section-header__title {
    margin-bottom: 0;
  }

  .section-header__lead {
    max-width: 480px;
    font-size: 22px;

    @media (max-width: 900px) {
      margin-bottom: 40px;
    }
  }

  .decor-strip::before {
    @media (max-width: 1400px) {
      top: 15px;
    }
  }
}

.first-screen__wrapper {
  max-width: 950px;
  padding: 55px 0 82px 133px;
  position: relative;
  z-index: 5;

  @media (max-width: 1370px) {
    padding-left: 0;
  }
}

.first-screen__action {
  display: flex;
  align-items: center;
  max-width: 715px;

  @media (max-width: 500px) {
    max-width: max-content;
    margin: 0 auto;
  }
}

.first-screen__remaining-seats {
  padding: 25px 50px 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 207px;
  position: relative;
  margin-left: 15px;

  @media (max-width: 900px) {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/special/decorative-frame.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
  }

  span {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 2px;
    display: block;
    font-weight: 700;
  }

  del {
    margin-right: 10px;
    opacity: 0.8;
    font-weight: 400;
  }
}

/* Блок ФОТО ДИРЕКТОРА */
.first-screen__director {
  position: absolute;
  bottom: 0;
  right: -37px;
  z-index: 0;
  max-height: 100%;

  @media (max-width: 1200px) {
    opacity: 0.4;
  }

  @media (max-width: 500px) {
    display: none;
  }

  img {
    display: block;
    object-fit: cover;
  }
}
