/* последние-статьи  */
.latest-articles {
  padding: 50px 0 95px;

  @media (max-width: 900px) {
    display: none;
  }

  .title__inversion {
    display: block;
  }
}

.latest-articles__list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}
