// услуги-людям
.service-people {
  padding: 75px 0 90px;

  .lead {
    max-width: 600px;
  }
}

.service-people__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;

  @media (max-width: 500px) {
    margin-bottom: 30px;
  }
}

.service-people__title {
  margin-bottom: 98px;
  max-width: 510px;

  .title {
    margin: 0;
    max-width: 330px;
  }
}
