// секция-директора
.talk-director {
  padding: 65px 0 25px;

  .section-header {
    margin-bottom: 35px;
  }

  .section-header__title {
    padding-right: 0;
  }

  .lead {
    padding-left: 50px;

    @media (max-width: 1200px) {
      padding: 0;
    }
  }

  .big-text {
    max-width: 470px;
  }

  .offer-custom__list {
    margin-bottom: 95px;

    @media (max-width: 500px) {
      margin-bottom: 45px;
    }
  }

  .list-sume {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.big-text {
  @media (max-width: 1200px) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
}

.talk-director__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 120px;

  @media (max-width: 1400px) {
    gap: 70px;
    grid-template-columns: auto;
  }
}

.talk-director__card {
  max-width: 720px;

  @media (max-width: 1400px) {
    max-width: 100%;
  }
}
