// разговор-директора
.talk-director {
  padding: 65px 0 25px;
  .big-text {
    max-width: 470px;
  }

  .section-header {
    margin-bottom: 75px;

    @media (max-width: 1070px) {
      margin-bottom: 30px;
    }
  }

  .offer-custom__list {
    margin-bottom: 95px;
  }

  .section-header__title--long {
    border-left: 4px double;
    padding-left: 15px;
    max-width: 100%;
    margin-bottom: 20px;
    padding-right: 10px;
    &::before {
      display: none;
    }
  }
}

.big-text {
  @media (max-width: 1200px) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
}

.talk-director__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 120px;

  @media (max-width: 1400px) {
    gap: 70px;
    grid-template-columns: auto;
  }
}
